.wrapper.dark-mode {
  background-color: $darkblue;

  .details {
    background-color: $topbg;
  }

  .box__large {
    background-color: $bluecard;

    &:hover {
      background-color: $hoverdark;
    }
  }

  .box__small {
    background-color: $bluecard;

    &:hover {
      background-color: $hoverdark;
    }
  }

  .title--large,
  .title--medium,
  .number--bold {
    color: $whitetext;
  }

  .details__btn::after {
    right: auto;
    left: 3px;
    background-color: $topbg;
  }
}
