.wrapper {
  position: relative;

  .wrapper-bg {
    background-color: $lightbg;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    .wrapper-bg-light {
      background-color: $paleblue;
      height: 250px;
    }
  }
}

.content-overlay {
  z-index: 0;
  max-width: 768px;
  margin: 0 auto;
}

.details {
  padding: $spacing;
  border-radius: 0 0 30px 30px;

  .title--large {
    margin: 0;

    &.active {
      color: $whitetext;
    }
  }

  .title--small {
    @include boxtitle;
  }

  .details__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $lighttext;

    .details__btn {
      position: relative;
      border-radius: 18px;
      outline: none;
      border: none;
      width: 50px;
      height: 26px;
      background-color: rgb(173, 173, 173);
      transition: background-image ease 300ms;

      &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $paleblue;
        top: 3px;
        right: 3px;
      }

      &:hover {
        background-image: $darktheme;
        cursor: pointer;
        transition: background-image ease 300ms;
      }
    }
  }
}
